#root {
  margin: 0 auto;
  text-align: left;
}

#main-content,
#nav-bar {
  max-width: 1280px;
  margin: 0 auto;
}

.cover {
  width: 100%;
  background-color: #555;
  height: 200px;
  overflow: hidden;
}

.cover img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

#login-box {
  max-width: 600px;
  min-width: 400px;
}

@media screen and (max-width: 390px) {
  .cover {
    width: 100%;
    background-color: #555;
    height: 140px;
    overflow: hidden;
  }

  #login-box {
    width: 100%;
  }
}
