@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-decoration: none;
}
